/src/OpenAL64.dll
/src/main/java/net/xiaoyu233/fml/util/MappingConvertor.java
/src/main/java/net/xiaoyu233/fml/util/MappingGenerator.java
/src/main/java/net/xiaoyu233/fml/util/MapConnector.java
/mappings.srg
/field_backup.mapping
/method_backup.mapping
/method.mapping.backup
method_.mapping
class_.mapping
field_.mapping
/logs
/.shelf
/.idea
/libs
/run


# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# fabric
run/

# macos
*.DS_Store